@import "tailwindcss";

@theme {
  --color-primary: #0f172a;
  --color-primary-hover: #1e293b;
  --color-surface: #ffffff;
  --color-background: #f8fafc;
  --color-border: #e2e8f0;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  
  --font-sans: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,0.03) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,30%,0.04) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339,49%,30%,0.03) 0, transparent 50%);
    min-height: 100vh;
  }
}
